SUPABASE_URL=https://itfcsnplnzfdqmqhutpg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ZmNzbnBsbnpmZHFtcWh1dHBnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2ODQ1NTAsImV4cCI6MjEwNjI2MDU1MH0.jpA53Qlejjw_ROFRQFiwFp7rzs6bM2Sfve8S7AknjGU

# Nunca exponha esta chave no frontend.
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ZmNzbnBsbnpmZHFtcWh1dHBnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDY4NDU1MCwiZXhwIjoyMTA2MjYwNTUwfQ.EqhWi9eVlwzfB2lcV0MN6pbHncy9AF8kAjfTYoh6uCQ
